*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
font-family: 'Poppins', sans-serif;
}
.order td{
  border: brown;
  border-radius: 15px;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 5px;
}
.names{
   border-color: brown;
   border-radius: 3px;
}
.names small ol li{
  border-color: black;
  border-radius: 3px;

}
.popp{
  position:absolute;

}
.none{
  display:none;
}
.ttt{
  text-align: center;
  display:inline-flexbox;
}
#Indi-1{
  width:80px;
  border:none;
  background:#c41313;
  height:3px;
 
  }
.one-img{
  border-radius: 50px;
  border-top-left-radius: 30px;
}
.navbar{
  
display: flex;
align-items: center;
padding:0;
margin-top:0;

}
.logout{
  
  text-align: center;
}

.label{
   
    width:100%;
    height:100%;
    position:relative;
    text-align:center;
    box-shadow:0 0 0px rgba(0,0,0,0.1);
    margin-bottom:100px;
    
    
}
.never{
  color:red;
}
.terms{
  text-decoration: underline;
  color: blue;
}
.useapp{
  margin-top: 93px;
  display:ruby-base-container;
  position: relative;
  align-items:center;
  text-align: center;


}
   .label-2  th{
     background-color: rgb(236, 144, 138);
   } 
   
    


nav{
flex:1;
text-align:right;
}
nav ul{
  display:inline-block;
  list-style-type:none;


}
.map{
  background-color:rgb(201, 167, 167);
}
.sub-menu-1{
  display:-moz-grid-group;
  
  background: rgba(124, 196, 199, 0.185);
  margin:100px;
  margin-bottom: 25px;
  border-radius: 3px;
  
  margin-left: 15px;
  margin-right: 370px;
}
.sub-menu-1 ul{
  display: block;
  margin: 10px;
  
}
.helplist{
   margin-top:70px ;
}
.helplist ul li{
  
  padding: 6.3px;
  border-bottom: 1px dotted black ;
  cursor: pointer;
  

}
.sub-menu-1 ul li{
  
  padding: 6.3px;
  border-bottom: 1px dotted white ;
  

}
.sub-menu-1 ul li:last-child{
  border-bottom: none;
}
.sub-menu-2{
  display: none;
}
.sub-menu-1 ul li:hover .sub-menu-2 {   
  background: rgba(124, 196, 199, 0.185);
  margin-top:0;
  margin-bottom: 0;
  border-radius: 3px;
  position:absolute;
  margin: -4px;
  margin-left: 53px;
  margin-right: 390px; 
  display:block;
  
}
.sub-menu-1 ul li:hover .sub-menu-2 ul{
  display: block;
  margin: 10px;
  
}
.sub-menu-1 ul li:hover .sub-menu-2 ul li{
 width: 90px;
 padding: 10px;
 border-bottom: 1px dotted white;
 background: transparent;
 text-align: left;

}
.sub-menu-1 ul li:hover .sub-menu-2 ul li:last-child{
  border-bottom: none;
}
nav ul li{
display:none;
margin-right:20px;
text-decoration: white;
cursor: pointer;
}
nav ul .li li{
  display:inline-block;
  margin-right:20px;
  color: white;
  }
a{
text-decoration:none;
color:#555;
}
p{
color:#555;
}
.container{
max-width:1300px;
margin: auto;
padding-left:25px;
padding-right:25px;
}
.row{
display:flex;
align-items:center;
flex-wrap:wrap;
justify-content: space-around;

}
.col-2{
flex-basis:50%;
min-width:300px;
}
.col-2 img{
max-width:100px;
padding:50px 0;
}
.col-2 h1{
font-size:50px;
line-height:60px;
margin:25px 0;
}
.container-5 h1{
  text-align: center;
  position: grid;

}
.cont-5-img  img {
 
   border-radius: 10px;
}
.hh1 h1{
  text-align: center;
}
.pageinput{
  background: rgba(82, 14, 14, 0.452);
  margin-left: 2px;
  margin-right:4px ;
  border-radius: 2.3px;
}
.pagein{
  background:rgba(231, 222, 222, 0.712);
  margin-left: 1px;
  margin-right:4px ;
  border-radius: 9.3px;
}
.pagein input{
  text-align: center;
  width:260px;
height:30px;
padding:8px;
font-size:20px;
margin-left:100px;
border:1px solid #994543;
}
.pageinput input{
  text-align: center;
  width:260px;
height:30px;
padding:8px;
font-size:20px;
margin-left:100px;
border:1px solid #ff523b;
}
.address{
  display:inline-block;
background:#6b413b;
color:#fff;
padding:8px 30px;
margin:30px 0;

margin-left: 5px;
border-radius:2px;
transition: background 6.0s;
}
.addr{
  display:inline-block;
background:#6b413b;
color:#fff;
padding:3px 3px;
margin:30px 0;

margin-left: 5px;
border-radius:6px;
transition: background 3.0s;
}
.a-btn{
  display:inline-block;
background:#ff523b;
color:#fff;
padding:8px 30px;
margin:30px 4px;
border-radius:8px;
transition: background 6.0s;

}
.btn-purchase{
  display:inline-block;
background:#ff523b;
color:#fff;
padding:8px 30px;
margin:30px 0;
border-radius:8px;
transition: background 6.0s;
margin-left: 350px;
}
.ad-btn{
  text-align: center;
}
.btn-1{
  height: 8px;
}
.btn{
display:inline-block;
background:#ff523b;
color:#fff;
padding:8px 30px;
margin:30px 0;
border-radius:30px;
transition: background 0.5s;
}
.helplist{
  background:white;
}
.popss{
  background: radial-gradient() rgb(243, 235, 235); 
}
.btn:hover{
background:#563434;
}
.header{
background:#563434;
background: radial-gradient() rgb(brown,red,white);
border-radius: 12px;
margin-left: 4px;
margin-right: 4px;

}
.header .row{
margin-top:70px;
}
.categories{
margin:70px o;
}
.col-3{
flex-basis:30%;
min-width:250px;
margin-bottom:30px;
}
.col-3 img{
width:100%;
}
.small-container{
max-width:1080px;
margin: auto;
padding-left:25px;
padding-right:25px;
}
.col-4{
flex-basis:25px;
padding:10px;
min-width:200px;
margin-bottom:50px;
transform: translate 0.5s;
}
.col-4 img{
width:100%;
}
.title{
text-align:center;
margin:0 auto 80px;
position:relative;
line-height:60px;
color:#555;
margin-top: 150px;
}
.title::after{
content: '';
background:#ff523b;
width:80px;
height:5px;
border-radius:5px;
position:absolute;
bottom:0;
left:50%;
transform:translateX(-50px);
}
h4{
color:#555;
font-weight:normal;
}
.col-4 p{
font-size:14px;
}
.rating{
color:#ff523b;
}
.col-4:hover{
transform:translateY(-5px);
}
.body1{
align-content: right;
}
.body1 img{
align-content: center;
border-radius:70px;
margin-bottom:12px;
border-style:outset;
height:70px;
margin-top:10px;
}
.body2{
align-content: center;
text-align:center;
}
h5{
font-size:7px; 
text-align: center;
margin-bottom:53px;

}
/*---------offer-----------*/

.offer{
background: radial-gradient(#fff,#ffd6d6);
margin-top:80px;
padding:30px 0;
}
small{
color:#555;
}

/*---------Testimonial----------*/
.testimonial{
padding:100px;
}
.testimonial .col-3{
text-align: center;
padding:40px 20px;
box-shadow:0 0 20px 0 rgba(0,0,0,0.1);
cursor: pointer;
transition: transform 0.5s;
}
.testimonial .col-3 img{
width:50px;
margin-top:20px;
border-radius:50px;
}
.testimonial .col-3:hover{
transform:translateY(-10px);
}
.fa.fa-qoute-left{
font-size:34px;
color:#ff523b;
}
.col p{
font-size:12px;
margin:20px 0;
color:#777;
}
.testimonial .col-3 h3{
font-weight:600;
color:#555;
font-size:16px;
}
/*---------footer----------*/
.footer{
  margin-top: 56%;
background:#000;
color:#8a8a8a;
font-size:14px;
padding:60px 0 20px;
}
.footer p{
color: #8a8a8a;
}
.footer h3{
color:#fff;
margin-bottom:20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
min-width:250px;
margin-bottom:20px;
}
.footer-col-1{
flex-basis:30%;
}
.footer-col-1{
flex:1;
text-align:center;
}
.footer-col-2 img{
width:180px;
margin-bottom:20px;
}
.footer-col-3, .footer-col-4{
flex-basis:12%;
text-align:center;
}
ul{
list-style-type:none;
}
.app-logo{
margin-top:20px;
}
.app-logo img{
width:140px;
}
.footer hr{
border:none;
background:#b5b5b5;
height:1px;
margin:20px 0;
}
.copyright{
text-align:center;
}
.menu-icon{
width:109px;
margin-left:20px; 
display:none;
}
/*----------all product----------*/
.row-2{
justify-content: space-between;
margin:100px 0 50px;
}
select{
border:1px solid #ff523b;
padding:5px;
}
select:focus{
outline:none;
}
.page-btn{
margin:0 auto 80px; 
}

.page-btn span{
display:inline-block;
border:1px solid #ff523b;
margin-left:10px;
width:30px;
height:30px;
text-align:center;
line-height:30px;
cursor:pointer;
}
.page-btn span:hover{
background:#ff523b;
color:#fff; 
}

/*---------single Product Details-------*/
.single-product{
margin-top:80px;
}
.single-product col-2 img{
padding:0;
}
.single-product col-2{
padding:20px;
} 
.single-product h4{
margin:20px 0;
font-weight:bold;
}
.single-product select{
display: block;
padding:10px;
margin-top:20px;
}
.single-product input{
width:50px;
height:40px;
padding-left:10px;
font-size:20px;
margin-right:10px;
border:1px solid #ff523b;
}
input:focus{
outline:none;
}
.single-product .fa{
color:#ff523b;
margin-left:10px;
}
.small-img-row{
display:flex;
justify-content: space-around;
}
.small-img-col{
flex-basis:24%;
cursor:pointer;
}
/*---------cart item--------*/

.cart-page{
margin:80px auto;
}
table{
width:100%;
border-collapse:collapse;
}

.cart-info{
display:flex;
flex-wrap: wrap;

}
th{
text-align:left;
padding:5px;
color:#fff;
background:rgb(77, 21, 21);
font-weight:normal;
border-radius:5px;
}
td{
padding:10px 5px;
}
td input{
width:40px;
height:30px;
padding:5px;
}
td a{
color:#ff00ff;
font-size:12px;
}
td img{
width:85px;
height:66px;
margin-right:10px;
}
.total-price{
display:flex;
justify-content:flex-end;
}
.total-price table{
border-top:3px solid rgb(77, 21, 21);
width:100%;
max-width:400px;
border-radius:60px;
}
td:last-child{
text-align:right;
}
th:last-child{
text-align:right;
}
/*-------account-page-------*/

.account-page{
padding:50px 0;
background:radial-gradient(#fff,#ffd8d8);
}
.form-container{
background:#fff;
width:300px;
height:400px;
position:relative;
text-align:center;
padding:20px 0;
margin:auto;
box-shadow:0 0 0px rgba(0,0,0,0.1);
margin-bottom:100px;
overflow:hidden;
}
.form-container span{
font-weight:bold;
padding:0 10px;
color:#555;
cursor:pointer;
width:100px;
display:inline-block;
}
.form-btn{
display:inline-block;

}
.form-container form{
max-width:300px;
padding:0 20px;
position:absolute;
top:130px;
transition: transform 1s;

}
.admin-input form input{
  width:100%;
height:4px;
margin:10px 0;
padding:0 10px;
border:1px solid black;
border-radius: 30px;
}

form input{
width:100%;
height:30px;
margin:10px 0;
padding:0 10px;
border:1px solid #ccc;
}
form .btn{
width:100%;
border:none;
cursor: pointer;
margin:10px 0;
}
form .btn:focus{
outline:none;
}
#Loginform{
left:-300px;
}
#Regform{
left:0;
}

.help{
  background: yellow;
  text-align: center;
  margin-top: 30px;
  margin: 40px;
  border-radius: 2px;
}
.never {
  text-decoration: red;
}
.pointer ul li{
  cursor: pointer;
}

.pointer button{
  cursor: pointer;
}
.help h1{
  font-size: 25px;
  text-align: center;
}
.help-no h1{
  text-decoration: red;
}
form a{
font-size:12px;
}
#Indi{
  width:100px;
  border:none;
  background:#ff523b;
  height:3px;
  margin-top:4px;
  margin-left:40%;
  transform:translateY(10px);
  transition: transform 4s;
  }

  
#Indicator{
width:100px;
border:none;
background:#ff523b;
height:3px;
margin-top:8px;
transform:translateY(10px);
transition: transform 4s;
}
.x{
  background: #fff;
  text-decoration: #e60808;
}
.x h1{
  color: #e60808;
  font-size: 18px;
}
.pa{
   margin-top: 5px;
   margin-right:5px ;
}

.inner-container{
background:linear-gradient(135deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 25%, rgba(0,23,149,0.6) 50%,rgba(255,0,0,0.6) 75%,rgba(0,23,149,0.6) 100%);
top:0;
left:0;
background-repeat:no-repeat;
background-size:400px 400px;
transition:2s;
}
.inner-container:hover{
background-position:90% 90%;
}
.bub-menu-2 ul li{
  display:block;
  margin-bottom: 20px;
  margin-left: 100px;

}
.bub-menu-1 ul{
  display: none;
    
}
h6{
  color:red;
}
.bub-menu-2 ul li:hover .bub-menu-1 ul{
  display: block;
  text-align: left;
  margin-left: 90px;
  background-color: rgb(149, 229, 149);
  border-radius: 8px;
}
.bub-menu-2{
  background-color: rgb(5, 59, 5);
  margin-left:110px;
  margin-right: 130px;
  border-radius: 20px;
  text-align: left;
}









/*------media query for menu------*/

@media only screen and (max-width:800px){
nav ul{
position:absolute;
top:70px;
left:0;
background:#333;
width:100%;
overflow:hidden;
transition: max-height 0.5s;
}
nav ul .li li{
display:none;
margin-right:50px;
margin-top:10px;
margin-bottom:10px;

}
nav ul  li{
  display:block;
  margin-right:50px;
  margin-top:10px;
  margin-bottom:10px;
  
  }
nav ul li a{
color:#fff;
}
.menu-icon{
 display:flex;
 cursor:pointer;
 
 
}

}
/*------media query for less than 600 screen size------*/

@media only screen and (max-width:600px){
.row{
text-align:center;
}
.col-2, .col-3, .col-4{
flex-basis:100%;
}
.single-product .row{
text-align:center;
}
.single-product .col-2{
padding:20px 0;
}
.single-product h1{
font-size:26px;
line-height:32px;
}

.cart-info p{
 display:none;
}

}